<div class="jumbotron">
    <h1 class="display-4">Sobre Nosotros</h1>
    <p class="lead"><span>libreria para comprar online los libros mas famosos de la historia.</span> </p>
    <a href="mailto:libreria@libreria.com"><i class="far fa-envelope"></i> Libreria@libreria.com</a><br>
    <a href="tel:666666666"><i class="fas fa-phone-volume"></i> +34 666-666-666</a>
    <hr class="my-4">
    <p>Si has llegado hasta aqui es por que la lectura es tu mejor aliado</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50454.79279339425!2d-3.8318846282245436!3d37.780089167971724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6dd713cb5302c7%3A0x9cfb2c858b405702!2zSmHDqW4!5e0!3m2!1ses!2ses!4v1609235692967!5m2!1ses!2ses"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <p class="lead">
        <a class="btn btn-primary btn-lg" [routerLink]="['/libros']" role="button">Ver libros</a>
    </p>
</div>